{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.4.0.js"
      integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
      crossorigin="anonymous"
    ></script>
    <title>Subscribe</title>
    <!-- Script before the page loads -->
    <script src="{% static 'js/story10.js' %}"></script>
  </head>
  <body onload="dapetdata()">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <a href="/">Back to home!</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 center-align">
          <h3>Eyo wasap gaes welkam bek to mai cenel</h3>
        </div>
      </div>
    </div>
    <!-- FORM -->
    <div class="container">
      <div class="row center-align">
        <p><i>Be a subsciber today because subscribing is free.</i></p>
      </div>
      <form method="post" id="formisi">
        {% csrf_token %}
        <div class="row">
          <label for="nama">Nama</label>
          <input
            type="text"
            id="input-nama"
            placeholder="Masukkan nama lengkap anda"
            name="nama1"
            onkeyup="validong()"
            required
          />
          <div id="status-nama"></div>
        </div>
        <div class="row">
          <label for="email">Email</label>
          <input
            type="text"
            id="input-email"
            placeholder="Masukkan email anda"
            name="email1"
            onkeyup="validong()"
            required
          />
          <div id="status-email"></div>
        </div>
        <div class="row">
          <label for="Password">Password</label>
          <input
            type="password"
            id="input-password"
            placeholder="Masukkan Password anda"
            name="password1"
            onkeyup="validong()"
            autocomplete="off"
            required
          />
          <div id="status-password"></div>
        </div>
        <div class="row">
          <button type="submit" onclick="submithaha()" id="tombol" class="btn">
            Subscribe
          </button>
        </div>
      </form>
    </div>
    <div class="container" onload="dapetdata()">
        <div class="row">
            <h4>Daftar A-Team</h4>
        </div>
        <table>
          <tr>
            <th>Nama</th>
            <th>Email</th>
            <th>Hapus?</th>
          </tr>
        </table>
      <table id="challange">
        <!-- ISI -->
      </table>
    </div>
  </body>
</html>
