{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/story9.css' %}">
  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- NumeraliaJS for formatting currency -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body onload="getpc(0)">
  <div class="container">
    <div class="row">
      <div class="col s6 m6 l6">
          <h5>Selamat datang, {{user.first_name}}</h5>
          {% if user.is_authenticated %}
          <a href="/logout">
<button class="mdl-button mdl-js-button mdl-button--raised">
    Logout
  </button>
          </a>
          {% endif %}
    </div>
    </div>
      <table id="tabel" class="centered"></table>
    <div class="row">
      <div class="col">
        <h5>Jumlah uang yang harus saya siapkan </h5>
        <div class="display">
            <span>Rp. </span><span id="tobuy">0</span>
        </div>
      </div>
    </div>
  </div>

  <div id="paginated"></div>
  <script src="{% static 'js/story9.js' %}"></script>
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>