body{
    background-color: white;
}

h1{
    color: black;
    text-align: center
}

.bghitam{
    color: white;
    background-color: black;
}
.bgputih{
    background-color: white;
    color: black;
}
.hitam{
    color: black;
}
.putih{
    color: white;
}
.pink{
    transition: 1s;
    background-color: pink;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    text-align: center;
}
.pink1{
    background-color:white;
    color: black;
    cursor: pointer;
    text-align: center;
}

.gambarprofile{
    width: 50px;
    height: 50px;
}

.pink:hover{
    transition: 1s;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.tengah{
    text-align: center;
    align-content: center;
}
.tombol{
    border-radius: 20px;
}

.gambar{
    position: fixed;
    right: 0px;
    bottom: -5px;
    z-index: -1;
    max-width: 100px;
}

@media screen and (max-device-width: 486px){
    .gambar{
        display: none;
    }
}