<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEST</title>
</head>
<body>
    <h1 id="hallo">HALLO APA KABAR</h1>
    <a href="/newpage">My Profile</a>
    <a href="/subscribe">Eyo etim subscribe yuk</a>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button id="tombol" type="submit">Submit</button>
    </form>

    <h3>Daftar Output</h3>
    {% for items in data %}
    <h1> {{items.isian}} </h1>
    <p> {{items.waktu}} </p>
    {% endfor %}
</body>
</html>