<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    <h1>Please login using Google.</h1>
    <form action="" method="post">
            {% csrf_token %}
    </form>
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Log in
                      </button>  
                </a>
</body>
</html>