{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Import JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- JQUERY UI for carousel -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Ves∫∫t3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Materialize for styling -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>This is a page</title>
</head>

<body>
    <!-- Story 8 -->
    <div id="progressbar"></div>
    <h1 id="Loading">0</h1>
    <div class="container">
        <a href="/">Back</a>
        <div class="row tengah">
            <button class="btn waves-effect blue-grey darken-4" id="dark">Dark</button>
            <button class="btn waves-effect black-text text-darken-3 grey lighten-5 disabled" id="light">Light</button>
        </div>
        <div class="row tengah">
            <h3>Jonathan Filbert Lisyanto</h3>
            <h3>1806191692</h3>
            <h3>Cool Accordion</h3>
        </div>
        <div class="row tengah">
            <div id="accordion">
                <h5 class="pink" id="satu">Aktivitas saat ini</h5>
                <h2>Gabut hehe</h2>
                <h5 class="pink" id="dua">Pengalaman Organisasi</h2>
                <h2>Ngedanos hehe</h3>
                <h5 class="pink" id="tiga">Prestasi</h5>
                <h2>Juara menghabiskan uang orang tua hehe</h2>
            </div>
        </div>
        <div class="row">
            <img class="gambar" src="https://files.catbox.moe/i8mtnb.png" alt="">
        </div>
        <img class="gambarprofile" src="https://files.catbox.moe/iayag7.png" alt="">
    </div>

    <!-- Script JQUeryLoader Challang -->
    <script>
        $(document).ready(function(){
            $(".container").css("display","none");
            setTimeout(function(){
                console.log("hehe");
            $(".container").css("display","block");
            $("#progressbar").css("display","none");
            $("#Loading").css("display","none");
            },10000);;
        });
            for (j = 0; j < 100; j++) {
                let i = 0;
                setInterval(function () {
                    $("#progressbar").progressbar({
                        value: i
                    });
                    $("#Loading").text(i+" %");
                    i++;
                }, 100);
            };
    </script>

</body>

</html>